<div>
  <form action="/players" method="get">
    <label for="name">Nome</label>
    <input type="text" name="name" placeholder="Digite o nome do player">
    <input type="submit" value="Pesquisar">
  </form>
</div>

