<div class="card">
    <a href="javascript:void(0)" onclick="window.history.back()">Voltar</a>
    <div class="about">
        <p>Nome: {{player.name}}</p>
        <img src="https://flagsapi.com/{{uppercase player.country}}/flat/24.png" alt="{{player.country}}">
    </div>
    <p>Winrate Solo: {{player.modes.rm_2v2_elo.win_rate}}%</p>
</div>
